@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html {
    overflow: hidden;
}

/* Styling the meteor + meteor.js */
.animated-area .meteor {
    z-index: -9;
	position: absolute;
	top: 0;
	/* width - height in meteor.js */
	background-image: linear-gradient(to bottom, transparent, rgb(128, 128, 128));
	animation: shower 3s linear infinite;
	/* box-shadow: 0 1px 1px 1px rgba(138, 138, 138, 0.596); */
}

@keyframes shower {
	from {
		transform: translateY(-50%);
		transform: rotate(50deg);
	}
	to {
		transform: translateY(500%);
		left: 0px;
		top: 130%;
		transform: rotate(55deg);
	}
}

/* Styling the stars + stars.js */

.animated-area .star {
	background: #fff;
	position: absolute;
	border-radius: 50%;
	z-index: -10;
	box-shadow: 0 10px 20px 1px rgba(255, 255, 255, 0.596);
	animation: animate linear infinite;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	10%,
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(-100px);
	}
}


body {
    background: black;
    /* background-image: url('../images/background.jpg');
    background-position: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; */
}

.desc {
    font-family: 'Nunito', regular;
}

/* @media screen and (max-height:960px) {
    .pfp {
        border-radius: 100%;
        width: 40%;
        height: 40%;
    }   
} */

.pfp {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    transition-duration: .5s;
}

span {
    color: white;
}

h1 {
    font-family: 'Nunito', bold;
    font-size: 40px;
    margin-bottom: -10px;
}
h2 {
    font-family: 'Nunito', regular;
    font-size: 20px;
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: auto;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
    color: white;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.link {
    width: 70px;
    border-radius: 50px;
    font-size: 15;
    text-decoration: none;
    color: #1f2b37;
    outline: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    font-family: "Nunito", bold;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #a800ff 0%, rgb(50, 50, 50) 50%, rgb(50, 50, 50) 100%); /* #000c9a */
    background-position: 100% 0;
    background-size: 200% 200%;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(168,0,255,.35);
    transition-duration: .5s;
}
.link:hover {
    box-shadow: 0 0 0 0 rgba(168,0,255,0);
    background-position: 0 0;
}

.heart {
    font-size: 40px;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    10% { transform: scale(1.2); }
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 200px;
    }

    .pfp {
        border-radius: 100%;
        width: 125px;
        height: 125px;
    }

    .link {
        padding: 6px 40px;
        width: 50px;
    }
}